<div class="container">
    <input type="number" [(ngModel)]="number" placeholder="Ingrese un número" class="input-box" />
    <button (click)="fetchData()" class="btn">Obtener Datos</button>

    <div class="table-container" *ngIf="data && !isArray">
        <table class="data-table">
            <thead>
                <tr>
                    <th *ngFor="let key of dataKeys" (click)="sortData(key)">
                        <div class="grid-header">
                            {{ key }}
                            <span *ngIf="sortColumn === key">
                                {{ sortDirection === 'asc' ? '🔼' : '🔽' }}
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data" class="grid-row">
                    <td *ngFor="let key of dataKeys" class="grid-cell">
                        {{ row[key] }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <ul *ngIf="isArray" class="data-list">
        <li *ngFor="let item of listData">{{ item }}</li>
    </ul>
</div>
