body {
    background-color: #1e1e2e;
    color: white;
}

.dashboard {
    padding: 20px;
}

.card {
    background-color: #25273c;
    border-radius: 10px;
}
    
.card-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f8f9fa;
}

canvas {
    max-width: 100%;
    height: auto;
}

::ng-deep .ngx-charts-legend-label text {
    fill: white !important;
    font-size: 14px;
    font-weight: bold;
}